@CHARSET "UTF-8";

body{
	background-color: cadetblue;
}

div.wrapper{
	background-color: white;
	max-width: 1000px;
	margin: 0 auto;
}

div.name{
	font-size: 20px;
	width: 500px;
	padding: 5px;
	text-align: center;
	margin: 5px auto;
	border-bottom: double 5px green;
}

div.container{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

div.main{
	background-color: white;
	width: 70%;
	padding: 10px;
	margin: 10px;
	border-top: solid 5px green;
	border-left: solid 1px gray;
	box-shadow: 4px 4px grey;
}

div.contribution{
	background-color: white;
	border-radius: 5px;
}
div.d_subject{
	padding: 10px;
	font-size: 25px;
	font-weight: bold;
	border-top: solid;
	border-left: solid 10px green;
	border-bottom: solid;
}
div.category_name{
	font-size: 15px;
	padding: 3px;
	text-align: right;
}
div.text{
	padding: 5px;
	margin: 5px;
	font-weight: bold;
}
div.date{
	font-size: 15px;
	padding: 3px;
	text-align: right;
}
div.delete_btn{
	text-align: right;
}
input#contribution_delete{
	background-color: white;
	border: solid 2px tomato;
	color: tomato;
}
input#contribution_delete:hover{
	background-color: tomato;
	color: white;
}

div.comment_text{
	position: relative;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	background-color: green;
	border-radius: 10px
}
div.comment_text:after{
	position: absolute;
	content: '';
	top: 100%;
	left: 30px;
	border: 15px solid transparent;
	border-top: 10px solid green;
	width: 0;
	height: 0;
}
form#comment_delete{
	text-align: right;
}
input#comment_delete_btn{
	background-color: white;
	color: tomato;
	border: solid 2px tomato;
}
input#comment_delete_btn:hover{
	background-color: tomato;
	color: white;
}
input#comment_btn{
	background-color: white;
	color: green;
	padding: 5px 20px;
	margin: 10px 0px;
	border: solid 2px green;
	border-radius: 3px;
}
input#comment_btn:hover{
	background-color: green;
	color: white;
}

div.side{
	background-color: white;
	width: 30%;
	padding: 15px;
	margin: 10px;
	border-top: solid 5px green;
	border-left: solid 1px gray;
	box-shadow: 4px 4px grey;
	align-self: start;
	position: sticky;
	top: 0;
}

div.link{
	diplay: block;
}

.logout_btn{
	text-decoration: none;
	color: green;
	padding: 0.3em 1em;
	margin: 5px 5px;
	border: solid 2px green;
	border-radius: 3px;
	transition: .4s
}
.logout_btn:hover{
	background-color: green;
	color: white;
}
.contribution_btn{
	text-decoration: none;
	color: green;
	padding: 0.3em 1em;
	margin: 5px 5px;
	border: solid 2px green;
	border-radius: 3px;
	transition: .4s
}
.contribution_btn:hover{
	background-color: green;
	color: white;
}

.management_btn{
	text-decoration: none;
	color: green;
	padding: 0.3em 1em;
	margin: 5px 5px;
	border: solid 2px green;
	border-radius: 3px;
	transition: .4s
}
.management_btn:hover{
	background-color: green;
	color: white;
}

div.retrieval{
	background-color: white;
	border-top: dashed  gray;
	border-bottom: dashed  gray;
	padding: 5px;
}
div.bou{
	text-indent: 60px;
}

div.hoge1_btn{
	padding: 3px 3px;
}
input#kennsaku{
	background-color: white;
	color: green;
	padding: 5px 20px;
	margin: 10px 0px;
	border: solid 2px green;
	border-radius: 3px;
}
input#kennsaku:hover{
	background-color: green;
	color: white;
}
div.hoge2_btn{
	text-align: right;
}
input#reset{
	background-color: white;
	color: tomato;
	border: solid 2px tomato;
}
input#reset:hover{
	background-color: tomato;
	color: white;
}

li#error{
	color: tomato;
}

div.copyright{
	text-align: center;
}