@CHARSET "UTF-8";
body{
	background-color: cadetblue;
}

div.main-conntents{
	background-color: white;
	width: 300px;
	padding: 50px;
	text-align: center;
	border: solid thin gray;
	margin: 100px auto;
}

li#error{
	color: tomato;
}
input#login_btn{
	background-color: white;
	color: green;
	border: solid 2px green;
	margin: 5px 5px;
}
input#login_btn:hover{
	background-color: green;
	color: white;
}
 div.copyright{
 }