@CHARSET "UTF-8";

body{
    background-color: cadetblue;
}

div.main-contents{
    background-color: white;
	max-width: 1000px;
	margin: 0 auto;
}
div.name{
	font-size: 20px;
	font-weight: bold;
	width: 500px;
	padding: 15px;
	text-align: center;
	margin: 5px auto;
	border-bottom: double 5px green;
}

div.container{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

div.user-management{
	width: 75%;
}

table.table{
	border-collapse: collapse;
	width: 95%;
	padding: 10px;
	margin: 10px;
	border-top: solid 5px green;
	border-left: solid 1px gray;
	box-shadow: 4px 4px grey;
}
table.table th{
	padding: 10px 5px;
	border: solid 1px gray;
}

div.header{
	background-color: white;
	width: 25%;
	padding: 15px;
	margin: 10px;
	border-top: solid 5px green;
	border-left: solid 1px gray;
	box-shadow: 4px 4px grey;
	align-self: start;
	position: sticky;
	top: 0;
}
a.signup_btn{
	text-decoration: none;
	color: green;
	padding: 0.3em 1em;
	margin: 5px 5px;
	border: solid 2px green;
	border-radius: 3px;
	transition: .4s
}
a.signup_btn:hover{
	background-color: green;
	color: white;
}
a.home_btn{
	text-decoration: none;
	color: green;
	padding: 0.3em 1em;
	margin: 5px 5px;
	border: solid 2px green;
	border-radius: 3px;
	transition: .4s
}
a.home_btn:hover{
	background-color: green;
	color: white;
}

div.copyright{
	text-align: center;
}

input#management_btn{
	background-color: white;
	color: green;
	border: solid 2px green;
}
input#management_btn:hover{
	background-color: green;
	color: white;
}

input#stop_btn{
	background-color: white;
	color: tomato;
	border: solid 2px tomato;
}
input#stop_btn:hover{
	background-color: tomato;
	color: white;
}
input#start_btn{
	background-color: white;
	color: royalblue;
	border: solid 2px royalblue;
}
input#start_btn:hover{
	background-color: royalblue;
	color: white;
}
li#error{
	color: tomato;
}