@CHARSET "UTF-8";

body{
    background-color: cadetblue;
}

div.main-contents{
    background-color: white;
	max-width: 1000px;
	margin: 0 auto;
}

div.header{
	font-size: 20px;
	font-weight: bold;
	width: 500px;
	padding: 15px;
	text-align: center;
	margin: 5px auto;
	border-bottom: double 5px green;
}

div.container{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

div.main{
	width: 75%;
	padding: 10px;
	margin: 10px;
	border-top: solid 5px green;
	border-left: solid 1px gray;
	box-shadow: 4px 4px grey;
}

div.side{
	background-color: white;
	width: 25%;
	padding: 15px;
	margin: 10px;
	border-top: solid 5px green;
	border-left: solid 1px gray;
	box-shadow: 4px 4px grey;
	align-self: start;
	position: sticky;
	top: 0;
}

a.link1{
	text-decoration: none;
	color: green;
	padding: 0.3em 1em;
	margin: 5px 5px;
	border: solid 2px green;
	border-radius: 3px;
	transition: .4s
}
a.link1:hover{
	background-color: green;
	color: white;
}

a.link2{
	text-decoration: none;
	color: green;
	padding: 0.3em 1em;
	margin: 5px 5px;
	border: solid 2px green;
	border-radius: 3px;
	transition: .4s
}
a.link2:hover{
	background-color: green;
	color: white;
}

div.footer{
    text-align: center;
}

input#touroku_btn{
	border: solid 2px green;
	background-color: white;
	color: green;
	padding: 5px 10px;
}
input#touroku_btn:hover{
	background-color: green;
	color: white;
}

div.errorMessages{
	color: tomato;
}